html, body {
     background: #111;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
     Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.App {
     padding: 2rem;
}

.GameStateView {
     display: flex;
}

.GameStateView > * {
    flex: 1;
    padding: 1rem;
}

.players, .environment {
    margin-right: 2rem;
}

.players {
    flex-grow: 2;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.card {
    background-color: #fff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    margin: 0 0 2rem;
    padding: 2rem;
    min-height: 14vh;
    /*transform: rotate(2deg);*/
}


.card:nth-child(even) {
    /*transform: rotate(-2deg);*/
}

.card.tapped {
    transform: rotate(90deg);
}

.card:hover {
    outline: 5px solid lightblue;
}

.card.player {
    min-height: 10vh;
}
.card.player b {
    font-size: 1.2rem;
}


.environment {
    background-color: #CBD056;
}

.challenge {
    background-color: #80C5D3;
}

.lieutenant, .villain, .minion {
    background-color: #F28527;
}

.card b {
    text-align: center;
    font-size: 1.7rem;
    display: block;
}

h1 {
    margin: 0 2rem 0 0;
}
h1 span {
    display: block;
    font-weight: normal;
    font-size: 1.2rem;
}

header {
    display: flex;
    align-items: flex-start;
}

.powers {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
.powers .power {
    flex: 10rem 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    line-height: 1;
}
.powers .power:last-child {
    margin-right: 0;
}
.powers .power div:first-child {
    order: 1;
}
.powers .power div:last-child {
    font-family: monospace;
    background: black;
    padding: 3px 4px 1px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-right: 7px;
    width: 3ch;
    text-align: center;
    flex-shrink: 0;
    align-self: center;
}

#abilities .ability {
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    background: #f6f6f6;
    width: 45%;
    border-left: 5px solid #3FA447;
}
#abilities .ability .name {
    font-size: 1.3rem;
    font-weight: bold;
}

#abilities .ability.zone-yellow {
    border-left-color: yellow;
}
#abilities .ability.zone-red {
    border-left-color: red;
}

span.power {
    color: purple;
    font-weight: bold;
    font-style: italic;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: hsla(0, 0%, 10%, 0.7);
    display: grid;
    place-items: center;
}

.modal-body {
    background: #fff;
    width: 30rem;
    padding: 2rem;
}

.progress-container {
    display: flex;
}
.progress {
    flex: 1;
    height: 1.5rem;
    background-color: #BEC0B1;
    margin-right: 4px;
    border: 2px solid #444;
    position: relative;
}
.progress:last-child {
    margin-right: 0;
}
.progress.yellow {
    background-color: #EED197;
}
.progress.red {
    background-color: #EE8C96;
}
.progress.consumed::after {
    content: 'x';
    font-size: 1.4rem;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
    bottom: 0;
    display: grid;
    place-items: center;
}
